@font-face {
  font-family: "CooperMdBT";
  src: url("../fonts/CooperMdBT-Italic.ttf") format("truetype"),
    url("../fonts/CooperMdBT-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.blob {
  position: fixed;
  top: 130px;
  right: 0;
  fill: #f6dca8;
  width: 40vmax;
  transform-origin: 50% 50%;
  transform: rotate(60deg);
  z-index: 1;
}

.body {
  position: relative;
  background-color: #f2efea;
  margin: 2% 5% 2% 5%;
}

.h1 {
  font-size: 110px;
  font-family: "CooperMdBT", sans-serif;
  letter-spacing: -5px;
  color: #f772c6;
  margin-top: 125px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.h2 {
  font-size: 48px;
  font-family: "CooperMdBT", sans-serif;
}

.h3 {
  font-size: 28px;
  margin-top: 10px;
  font-family: "Inria Serif";
  font-weight: bold;
}

.p {
  font-size: 24px;
  margin-top: 10px;
  font-family: "Inria Serif";
}

.strip1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.textContainer {
  z-index: 2;
  left: 3%;
  border: 1px solid black;
  width: 47%;
  padding: 3%;
}

.Image1 {
  z-index: 2;
  right: 3%;
  margin-top: 40px;
}

.Image2 {
  z-index: 2;
  left: 3%;
  margin-top: 40px;
}

.logoContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
}

@media (max-width: 1180px) {
  .body {
    position: relative;
    background-color: #f2efea;
    height: fit-content;
    margin: 1% 1% 1% 1%;
  }

  .h1 {
    font-size: 55px; /* Adjust font size for smaller screens */
    margin-top: 150px; /* Adjust margin for smaller screens */
    padding: 0px;
  }

  .strip1 {
    flex-direction: column; /* Stack strips vertically on smaller screens */
    align-items: center; /* Center items vertically */
  }

  .textContainer {
    width: 90%; /* Adjust width for smaller screens */
    margin-bottom: 20px; /* Add space between text and image */
    text-align: center; /* Center text on smaller screens */
    margin-top: 20px;
  }

  .Image1,
  .Image2 {
    width: 100%; /* Make images full width on smaller screens */
    margin-top: 10px; /* Adjust margin for spacing */
    margin-bottom: 10px;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 1% 10% 1%; /* Adjust margin as needed */
    position: relative;
  }

  .logoImage {
    width: 100%; /* Ensure the image takes full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 250px;
  }
}

@media (min-width: 344px) and (max-width: 882px) {
  .h1 {
    font-size: 48px;
  }
  .logoContainer {
    margin-bottom: 70%;
  }
}

/* Samsung Galaxy Fold */
@media (min-width: 360px) and (max-width: 740px) {
  .logoContainer {
    margin-bottom: 110px;
  }
}
@media (min-width: 375px) and (max-width: 667px) {
  .logoContainer {
    margin-bottom: 20px;
  }
}

/* 12 pro */
@media (min-width: 390px) and (max-width: 844px) {
  .logoContainer {
    margin-bottom: 200px;
  }
  .logoImage {
    z-index: 1;
  }
}

/* iphone 14 & pixle 7 & Samsung Galacy Ultra */
@media (min-width: 412px) and (max-width: 915px) {
  .h1 {
    font-size: 55px;
  }
  .logoContainer {
    margin-bottom: 290px;
  }
}

/* XR */
@media (min-width: 414px) and (max-width: 896px) {
  .h1 {
    font-size: 55px;
  }
  .logoImage {
    margin-bottom: -20px;
    z-index: 1;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .h1 {
    font-size: 60px;
  }
  .logoContainer {
    margin-bottom: 80px;
  }
}

/* ipad mini */
@media (min-width: 768px) and (max-width: 1024px) {
  .h1 {
    font-size: 80px;
  }
  .logoContainer {
    margin-bottom: 380px;
  }
  .logoImage {
    z-index: 1;
  }
}

/* ipad Air */
@media (min-width: 820px) and (max-width: 1368px) {
  .logoContainer {
    margin-bottom: 540px;
  }
  .logoImage {
    z-index: 1;
  }
}

@media (min-width: 853px) and (max-width: 1280px) {
  .logoContainer {
    margin-bottom: 640px;
  }
  .logoImage {
    z-index: 1;
  }
}

@media (min-width: 912px) and (max-width: 1368px) {
  .logoContainer {
    margin-bottom: 730px;
  }
  .logoImage {
    z-index: 1;
  }
}
