/* Global styles */
@mixin global-styles {
  * {
    box-sizing: border-box;
    font-family: "Inria Serif";
  }

  *::before,
  *::after {
    box-sizing: border-box;
    font-family: "Inria Serif";
  }

  body,
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

.gallery-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #d4c4e9;
  background-size: 40px 40px;
  outline-offset: 20px;
  padding-top: 85px;
  padding-bottom: 116px;
}

.gallery figure {
  position: relative;
  margin: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: auto;
  min-height: 100px;
  margin-right: 30px;
  scroll-snap-align: start;
  transition: all 0.3s ease-in-out;
}

.gallery figure:nth-child(1) {
  margin-left: 30px;
}

.gallery figure div {
  position: absolute;
  width: 1%;
  height: 1%;
  background: transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.gallery figure div:nth-child(3) {
  top: 0;
  left: 0;
  border-left: 1px dotted #f6dca8;
  border-top: 1px solid #f6dca8;
  border-radius: 15px 0px 0px 0px;
}

.gallery figure div:nth-child(4) {
  top: 0;
  right: 0;
  border-top: 1px solid #f6dca8;
  border-right: 1px solid #f6dca8;
  border-radius: 0px 15px 0px 0px;
}

.gallery figure div:nth-child(5) {
  bottom: 0;
  right: 0;
  border-right: 1px dotted #f6dca8;
  border-bottom: 1px solid #f6dca8;
  border-radius: 0px 0px 15px 0px;
}

.gallery figure div:nth-child(6) {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #f6dca8;
  border-left: 1px solid #f6dca8;
  border-radius: 0px 0px 0px 15px;
}

.gallery figure img {
  height: 100%;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
  opacity: 0.9;
  filter: brightness(1);
  outline: 1px solid transparent;
  outline-offset: -40px;
  transition: all 0.3s ease-in-out;
}

.gallery figure figcaption {
  position: absolute;
  color: transparent;
  font-size: 18pt;
  line-height: 24pt;
  font-weight: 500;
  padding: 0px 20px;
  text-align: center;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6dca8;
  outline: 2px dotted transparent;
  outline-offset: 0px;
  background-size: 40px 40px;
  opacity: 0;
  border-radius: 100%;
  pointer-events: none;
  animation: background 100s linear infinite;
  transition: all 0.3s ease-in-out;
}

.gallery figure:hover img {
  height: calc(100% - 40px);
  filter: brightness(1.5);
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.8);
  outline-offset: 5px;
  transition: all 0.3s ease-in-out;
}

.gallery figure:hover {
  padding: 0px 20px;
}

.gallery figure:hover figcaption {
  opacity: 0.8;
  color: white;
  outline: 1px solid white;
  outline-offset: -20px;
  text-shadow: 1px 1px 3px black, 0px 0px 5px black;
  transition: all 0.3s ease-in-out;
}

.gallery figure:hover div {
  width: 25%;
  height: 25%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1145px) {
  .gallery figure {
    scroll-snap-align: center;
  }
  .gallery {
    scroll-padding: 0px 0px 0px 0px !important;
  }
}

@media (max-width: 610px) {
  .gallery {
    max-height: 320px;
  }
  .gallery figure {
    margin-right: 20px;
  }
  .gallery figure:nth-child(1) {
    margin-left: 20px;
  }
}

@media (max-height: 425px) {
  .gallery figure figcaption {
    font-size: 48pt;
    line-height: 20pt;
  }
}

@media (max-height: 340px) {
  .gallery {
    background-size: 30px 30px;
    scroll-padding: 0 0 0 28px;
  }
  .gallery figure {
    margin-right: 30px;
  }
  .gallery figure:nth-child(1) {
    margin-left: 30px;
  }
  .gallery figure figcaption {
    font-size: 12pt;
    line-height: 18pt;
    font-weight: 400;
    background-size: 30px 30px;
  }
}

@media (max-height: 280px) {
  .gallery::-webkit-scrollbar {
    height: 20px;
  }
  .gallery::-webkit-scrollbar-button:single-button:horizontal:decrement,
  .gallery::-webkit-scrollbar-button:single-button:horizontal:increment {
    width: 80px;
    height: 20px;
    background-size: 15px;
  }
}

@media (max-height: 230px) {
  .gallery figure figcaption {
    font-size: 10pt;
    line-height: 12pt;
  }
  .gallery figure:hover figcaption {
    outline-offset: -10px;
  }
  .gallery figure:hover img {
    outline-offset: 10px;
  }
}

@media (max-height: 165px) {
  .gallery {
    scroll-padding: 0 0 0 18px;
    margin: 0px;
  }
  .gallery figure {
    margin-right: 18px;
  }
  .gallery figure:nth-child(1) {
    margin-left: 18px;
  }
}
