.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: gray solid 1px;
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 20px;
  box-sizing: border-box;
}

.hamburger {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 101;
  display: none; /* Hide by default */
}

.links {
  display: flex;
  align-items: center;
}

.links.open {
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Add transition */
}

.link {
  font-size: 20px;
  font-family: "Inria Serif";
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  text-decoration: none;
  margin-right: 65px; /* Adjust as needed */
}

.link:hover {
  color: #ff66c4;
}

.selectedLink,
.link.isSelected {
  color: #ff66c4;
}

.spacer {
  flex-grow: 1; /* This will take up the remaining space */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 45px;
  }

  .links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    max-height: 0; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    overflow: hidden; /* Hide content */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Add transition */
  }

  .links.open {
    max-height: 500px; /* Adjust as needed for content */
    opacity: 1;
  }

  .link {
    font-size: 25px;
    margin: 10px 0;
  }

  .navbar img {
    margin: 10px 0;
  }

  .hamburger {
    display: flex; /* Show only in mobile view */
  }

  .spacer {
    display: none; /* Hide spacer in mobile view */
  }
}
