@font-face {
  font-family: "CooperMdBT";
  src: url("fonts/CooperMdBT-Italic.ttf") format("truetype"),
    url("fonts/CooperMdBT-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.h1 {
  font-family: "CooperMdBT", sans-serif;
  letter-spacing: -5px;
  color: #f772c6;
}

.h2 {
  line-height: 2.2;
  font-family: "Inria Serif";
  font-size: 48px;
  margin-left: 240px;
}

.textBox {
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 45px;
  display: "flexbox";
}

.strip2 {
  background: white;
  border: black solid 1px;
  text-transform: uppercase;
}

.blob {
  position: fixed;
  top: 130px;
  right: 0;
  fill: #f6dca8;
  width: 43vmax;
  transform-origin: 50% 50%;
  transform: rotate(60deg);
  z-index: -1;
}

.strip1 {
  display: flex;
  height: 100vh;
  text-transform: uppercase;
}

.archBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  margin-left: -10px;
}

.arch {
  max-width: 60%;
  height: auto;
  z-index: 1;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .strip1 {
    flex-direction: column;
  }
}
