.textContainer {
  font-family: "Inria Serif";
  text-transform: uppercase;
  font-weight: Bold;
  color: black;

  align-items: center;
  display: flex;
  flex-direction: column;

  margin-top: 14%;
  padding-right: 5%;
  margin-left: 5%;
}

.h1 {
  font-size: 90px;
}

.h2 {
  font-size: 70px;
}

.h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.strip1 {
  display: flex;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.carouselContainer {
  flex: 1;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .strip1 {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
    align-items: center;
    margin-top: 85px;
  }

  .textContainer {
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    padding-right: 0%;
    margin-left: 0%;
  }

  .carouselContainer {
    padding-right: 0; /* Remove padding on small screens */
    width: 100%;
  }

  .h1 {
    font-size: 40px; /* Adjust font size for small screens */
  }

  .h2 {
    font-size: 25px; /* Adjust font size for small screens */
  }

  .h3 {
    font-size: 18px; /* Adjust font size for small screens */
  }
}
